<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crear Empleado</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <style>
        .container {
            max-width: 500px;
            margin: auto;
            padding-top: 20px;
        }

        a, button {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="title is-3">Crear Empleado</h1>

    <a class="button is-info" href="/empleados">Regresar</a>

    <form action="/empleados/crear" method="post" class="box">
        <div class="field">
            <label class="label" for="nombre">Nombre</label>
            <div class="control">
                <input class="input" type="text" name="nombre" placeholder="Alberto" required>
            </div>
        </div>

        <div class="field">
            <label class="label" for="apellido">Apellido</label>
            <div class="control">
                <input class="input" type="text" name="apellido" placeholder="Hernandez" required>
            </div>
        </div>

        <div class="field">
            <label class="label" for="fecha_contratacion">Fecha de Contratación</label>
            <div class="control">
                <input class="input" type="text" name="fecha_contratacion" placeholder="2000-12-31" required>
            </div>
        </div>

        <div class="field">
            <label class="label" for="sueldo">Sueldo</label>
            <div class="control">
                <input class="input" type="number" step="1.00" name="sueldo" placeholder="0.0" required>
            </div>
        </div>

        <div class="field">
            <label class="label" for="telefono">Teléfono</label>
            <div class="control">
                <input class="input" type="text" name="telefono" placeholder="99999999" required>
            </div>
        </div>

        <div class="control">
            <button class="button is-primary" type="submit">Confirmar</button>
        </div>
    </form>
</div>

</body>
</html>
