<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
</head>
<body>
<h1>Index</h1>
<a href="/clientes">Clientes</a><br>
<a href="/empleados">Empleados</a><br>
<a href="/idiomas">Idiomas</a><br>
<a href="/empleado_idiomas">Empleados e Idiomas</a><br>
</body>
</html>
