<!doctype html>
<html lang="en">
<head>
    <title>Crear idioma</title>
</head>
<body>
<h1>Crear idioma</h1>
<a href="/idiomas">Regresar</a>
    <form action="/idiomas/crear" method="post">

        <label for="idioma">Idioma:</label>
        <input type="text" name="idioma" placeholder="Español" required><br>

        <button type="submit">Confirmar</button>
    </form>
</body>
</html>